## FireSQL Programming Interface
We provided a simple firebase SQL interface class that can be easily applied a SQL statement to fetch from Firebase collections.

In [1]:
from firesql.firebase import FirebaseClient

client = FirebaseClient()
client.connect(credentials_json='../credentials/credentials.json')

In [2]:
from firesql.sql import FireSQL
from firesql.sql.sql_fire_client import FireSQLClient
import pandas as pd

fireSQL = FireSQL()
sqlClient = FireSQLClient(client)

In [3]:
company = 'bennycorp'

sql1 = """
  SELECT docid, email, state
    FROM
      Companies/{}/Users
    WHERE
      state IN ('ACTIVE')
""".format(company)

sql2 = """
  SELECT *
    FROM
      Companies/{}/Users
""".format(company)

sql3 = """
  SELECT u.docid, u.email, u.state, b.date, b.locationId, b.state
    FROM
      Companies/{}/Users as u JOIN Companies/{}/Bookings as b
      ON u.email = b.email
    WHERE 
        u.state IN ('ACTIVE') and
        b.state IN ('CHECKED_IN', 'CHECKED_OUT') and
        b.date >= '2022-03-18T04:00:00'
""".format(company, company)

sql4 = """
  SELECT docid, email, state
    FROM
      Companies/{}/Users
    WHERE
      state IN ('ACTIVE') and
      email NOT LIKE '%twotwo%'
""".format(company)

selectDocs = fireSQL.sql(sqlClient, sql3)
df = pd.DataFrame(selectDocs)
df

,docid,email,u_state,date,locationId,state
0,1utcUa9fdheOlrMe9GOCjrJ3wjh1,btscheung+bennycorp@gmail.com,ACTIVE,2022-03-18 04:00:00+00:00,BrACWIg7Ar3xWgOU3Fdv,CHECKED_IN
1,1utcUa9fdheOlrMe9GOCjrJ3wjh1,btscheung+bennycorp@gmail.com,ACTIVE,2022-03-18 04:00:00+00:00,BrACWIg7Ar3xWgOU3Fdv,CHECKED_IN
2,1utcUa9fdheOlrMe9GOCjrJ3wjh1,btscheung+bennycorp@gmail.com,ACTIVE,2022-03-18 04:00:00+00:00,BrACWIg7Ar3xWgOU3Fdv,CHECKED_IN
3,xQDDc7SXpqXxRAxIQWb1xPqdGYw2,btscheung+hill6@gmail.com,ACTIVE,2022-03-31 04:00:00+00:00,BrACWIg7Ar3xWgOU3Fdv,CHECKED_IN
4,xQDDc7SXpqXxRAxIQWb1xPqdGYw2,btscheung+hill6@gmail.com,ACTIVE,2022-04-13 04:00:00+00:00,BrACWIg7Ar3xWgOU3Fdv,CHECKED_IN

In [4]:
company = 'bennycorp'

update1 = """
  UPDATE Companies/{}/Users
  SET state = 'ACTIVE'
  WHERE state = 'INACTIVE' and email = 'btscheung+twotwo@gmail.com'
""".format(company)

updateDocs = fireSQL.sql(sqlClient, update1)
df = pd.DataFrame(updateDocs)
df

,docid,groups,vaccination,assignedSeats,firstName,externalId,preferredSeats,state,roles,events,lastName,emailVerified,access,email
0,7CUJOqe6rlOTQuatc27EQGivZfn2,[NLu0L6sEOUJHFBRCiylr],None,[],Benny,None,[],ACTIVE,[CLEANER],"[{'date': 2022-02-25 16:17:06.002000+00:00, 'e...",TwoTwo,True,{'hasAccess': True},btscheung+twotwo@gmail.com